html,
body {
  background-color: $color3;
  color: $color2;
  overflow-x: hidden;

}

body {
  opacity: 0;
  &.showContent {
    opacity: 1;
  }
}


// container
.wrapContainer {
  margin-top: 48px;
  transition: .5s;
}

.container-xxl {
  max-width: 1420px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
// end container

// background color
.bgColor1 {
  background-color: $color1;
}

.bgColor2 {
  background-color: $color10;
}

.bgColor3 {
  background-color: $color3;
}

.bgColor4 {
  background-color: $color21;
}
// end background color

// page content
.wrapContent1 {
  padding: 90px 0;
}

.wrapContent2 {
  padding: 60px 0;
}

.wrapContent3 {
  padding: 30px 0;
}

.wrapContent4 {
  padding-bottom: 30px;
}

.wrapContent5 {
  padding-top: 30px;
}

.wrapContent6 {
  padding: 30px;
}

.wrapContent7 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.wrapContent8 {
  margin-top: 60px;
}

.wrapContent9 {
  margin-top: 30px;
}

.wrapContent10 {
  padding-top: 60px;
}

.wrapContent11 {
  padding-bottom: 60px;
}

@media (max-width: 1615px) {
  .wrapContent4 {
    padding-top: 15px;
  }

  .wrapContent7 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .wrapContent8 {
    margin-top: 30px;
  }

  .wrapContent9 {
    margin-top: 15px;
  }

  .wrapContent11 {
    padding-bottom: 30px;
  }
}

@media (max-width: 1400px) {
  .wrapContent2 {
    padding: 50px 0;
  }
  .wrapContent10 {
    padding-top: 30px;
  }
}

@media (max-width: 991px) {
  .wrapContent1,
  .wrapContent2 {
    padding: 30px 0;
  }
  .wrapContent10 {
    padding-top: 30px;
  }
}
// end page content

// scroll bar
$color-track: #eeeeee;
$color-thumb: #cacaca;
$color-thumb-hover: $color3;

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: $color-track;
}

::-webkit-scrollbar-thumb {
  background: $color-thumb;
  @include borderRadius(0);
}

::-webkit-scrollbar-thumb:hover {
  background: $color-thumb-hover;
}

@media (max-width: 1199px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-thumb {
    @include borderRadius(0);
  }
}
// end scroll bar