.titleSection {
  position: relative;
  text-align: center;
  margin-bottom: 60px;

  @include downXl {
    margin-bottom: 40px;
  }
  @include downSm {
    margin-bottom: 30px;
  }

  h3 {
    @include fontFamily2;
    font-size: 46px;
    text-transform: capitalize;
    padding: 18px 0;
    margin: 0;

    @include downXl {
      font-size: 38px;
      padding: 14px 0;
    }

    @include downLg {
      padding: 10px 0;
    }

    @include downSm {
      font-size: 32px;
      padding: 6px 0;
    }
  }

  h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;

    @include downXl {
      font-size: 16px;
    }
    @include downSm {
      font-size: 14px;
    }
  }
}